---
import { storyblokEditable } from '@storyblok/astro'
import { renderRichText } from '@storyblok/astro';

const { blok } = Astro.props
const heroDescription = renderRichText(blok.description)
---

<section {...storyblokEditable(blok)} class="bg-gray-900 relative">
  <div class="relative flex flex-col">
    <div class="absolute z-10 p-4 bottom-0 text-gray-200 max-w-[600px]">
      <h1 class="text-3xl font-bold">{ blok.title }</h1>
      <div set:html={heroDescription}></div>
    </div>
    <img src={ blok.image?.filename } alt={ blok.image?.alt } class="w-full z-0 brightness-75 inset-0 h-[300px] bg-cover object-cover bg-no-repeat">
  </div>
</section>
